""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

" Disable annoying visualbell
set visualbell
set t_vb=

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Plugins --------------------------------
" Enable vim-surround plugin
set surround

" Enable vim-commentary plugin
set commentary

" Enable vim-easymotion plugin
set easymotion

" Enable NERDTree plugin
set NERDTree

""" Mappings --------------------------------
""" Easy window navigation
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt
map <c-n> :NERDTree<cr>

""" Actions
" Map \r to the Reformat Code action
:map \r <Action>(ReformatCode)

" Map \R to the Run action
:map \R <Action>(Run)

" Map \d to start debug
:map \d <Action>(Debug)

" Map \Q to the Stop action
:map \Q <Action>(Stop)

" Map \b to toggle the breakpoint on the current line
:map \b <Action>(ToggleLineBreakpoint)

" Map \z to toggle distraction free mode
:map \z <Action>(ToggleDistractionFreeMode)

" Map \z to hide active window
:map \q <Action>(HideActiveWindow)

" Map <space>rr to rename element
:map <space>rr <Action>(RenameElement)